body {
  font-size: 16px;
  margin: 0;
  font-family: 'Rampart One', cursive;
}

.navbar {
  background-color: black;
  width: auto;
  height: 7%;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin: 0;
  padding-left: 25px;
  padding-bottom: 5px;
  align-self: flex-end;
}

.intro {
  width: 100%;
  height: 300px;
  background-color: lightgrey;
}

.intro h3 {
  text-align: center;
  margin: 0;
  padding: 4%;
  font-size: 4em;
}

.content {
  width: 100%;
  height: 230px;
  text-align: center;
}

.content h4 {
  font-size: 1.5em;
}

.content p {
  margin: 5px;
  font-size: 0.8em;
}

.content a {
  text-decoration: none;
  border: 1px solid gray;
  color: white;
  background-color: gray;
  padding: 5px 50px;
  position: relative;
  top: 25px;
  border-radius: 5px;
  font-size: 1.2em;
}

.content a:hover {
  background-color: lightgrey;
  color: black;
  border: 2px solid lightgrey;
}

.photos {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
}

.photos img {
  width: 430px;
  height: 280px;
  object-fit: cover;
}

.testimony {
  width: 100%;
  height: 150px;
  background-color: darkgray;
  margin-bottom: 15px;
}

.testimony h1 {
  font-size: 1.4em;
  padding: 12px;
  text-align: center;
}

.testimony p {
  text-align: center;
}
.experience {
  text-align:  center;
  background-color: lightgrey;
  margin: 10px auto;
}

.experience h1 {
  margin: 0;
  padding-top: 16px;
}

.experience h4 {
  font-size: 1.2em;
  margin: 15px;
}

.experience p {
  margin: 0;
  padding: 10px;
}































